<head>
    <title>Index</title>
    <%= stylesheet_link_tag "index.css" %>
</head>

<body>
    <h1>
        Home Page
    </h1>

    <table>
        <tbody>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        <% @marketplace.each do |market| %>
            <tr>
                <td> <%= image_tag market[:image] %> </td>
                <td> <%= market[:name] %> </td>
                <td> <%= number_to_currency market[:price] %> </td>
                <td> <%= market[:description] %> </td>
                <td> <%= market[:quantity] %> </td>
            </tr>
        <%end%>
        </tbody>
    </table>
    <p > 
        <a href="/team">Team Site</a> &emsp;&emsp;
        <a href="/blog">Blog Site</a> &emsp;&emsp;
        <%= link_to "Store Site", storefront_path %> &emsp;&emsp;
        <%= link_to "View Cart", view_cart_path %> &emsp;&emsp;
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">The Best Site</a>
    </p>
</body>